.login-wrap
  .between
  .main-center
    = form_for(:session, url: login_path) do |f|
      .top-name
        名前を入力して下さい
      .top-name-content
        =f.phone_field :name1, placeholder:"田中",class:"top-name-content__first",type:"text"
        =f.phone_field :name2, placeholder:"太郎",class:"top-name-content__last",type:"text"
      .bottom-tel
        電話番号を入力してください
      .bottom-tel-content
        =f.phone_field :tel, placeholder:"ハイフンなし",class:"bottom-tel-content__first"
      =f.submit 'ログイン',class:"bottom-btn"
