.index-top
  .index-content
    .index-content__top
      最終来店日
    =link_to users_path, method: :get,class:"kannri" do
      管理者ページ
    =link_to"",class:"" do
      .content
        .content__top
          2001/12/25
        .content__center
          カテゴリー
        .content__bottom
          担当 : ------