.wrap-ind
  .index-top
    .index-content
      .index-content__header
        .header-left
          Salon 
        =link_to"ログアウト", logout_path, method: :post, class:"staf"
        %ul.header-right
        -if @owner == @current_user
          %li
            =link_to"スタッフ用", users_path, method: :get, class:"staf"


      .index-content__top
        ご来店ありがとうございました
      .contents
        - if @current_user == @owner
          - @karutes.reverse_each do |karute|
            .content
              =link_to open_user_path(karute.id), class: "" do
                .content__top
                  .content__day
                    =karute.day
                    来店
          = paginate @karutes
        - if @current_user != @owner
          - @karute_current_user.reverse_each do |karute|
            .content
              =link_to open_user_path(karute.id), class: "" do
                .content__top
                  .content__day
                    =karute.day
                    来店
          = paginate @karutes
      


    .footer
      .salon-name
        Salon Name
      %ul.contact
        %p
          CONTACT US
        %li.tel
          0123 - 456 - 789
        %li.mail
          beauty.hair@mail.com
        %li.address
          東京都港区芝公園1-1-1
    .copyright
      © salon
