.wrap
  .header
    =link_to root_path,class:"header__tittle" do
      Hairsalon
    .l-drawer
      %input#drawerCheckbox.l-drawer__checkbox{type: "checkbox"}
      %label.l-drawer__icon{for: "drawerCheckbox"}
        %span.l-drawer__icon-parts
      %label.l-drawer__overlay{for: "drawerCheckbox"}
      %nav.l-drawer__menu
        %ul
          %li.l-drawer__item
            .ld-btn.mission-btn
              =link_to users_path,class:"item-text" do
                お客様一覧
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to new_user_path,class:"item-text" do
                お客様登録
  .content
    .content__tittle
      カルテ一覧
    -@karutes.each do |karute|
      .content__main
        .content__main--left
          【日付】
          =link_to edit_user_path(karute.id),class:"" do
            = karute.day
        .content__main--left
          【非公開画像】
          -if karute.image4 = nil
            %span
              ー
          - else
            %span
              ◯
        .content__main--left
          【コメント】
          -if karute.memo1
            %span
              ー
          - else
            %span
              ◯
        .content__main--left
          【メニュー&薬剤情報】
          -if karute.menu
            %span
              ー
          - else
            %span
              ◯
        .content__main--left
          【その他】
          -if karute.memo2
            %span
              ー
          - else
            %span
              ◯