.wrap
  .header
    =link_to root_path,class:"header__tittle" do
      Hairsalon
    .l-drawer
      %input#drawerCheckbox.l-drawer__checkbox{type: "checkbox"}
      %label.l-drawer__icon{for: "drawerCheckbox"}
        %span.l-drawer__icon-parts
      %label.l-drawer__overlay{for: "drawerCheckbox"}
      %nav.l-drawer__menu
        %ul
          %li.l-drawer__item
            .ld-btn.mission-btn
              =link_to users_path,class:"item-text" do
                お客様一覧
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to new_user_path,class:"item-text" do
                お客様登録
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to karute_hairs_path,class:"item-text" do
                カルテ一覧
  .content
    .content__tittle2
      ユーザー公開情報
    .form
      .form__open
        来店日
      .form__bottom
        =@karute.day
      .form__open
        コメント
      .form__bottom
        -if @karute.category == nil
          ー
        -else
          =@karute.memo1

      .form__bottom
        -if @karute.image1 == nil
          .form__bottom--img
            NO IMAGE
        -else 
          %img{src:@karute.image1,class:""}

      .form__bottom
        -if @karute.image2 == nil
          .form__bottom--img
            NO IMAGE
        -else 
          %img{src:@karute.image2,class:""}
    .content__tittle3
      ユーザー公開情報
    .form
      .form__tittle
        お会計金額
      .form__bottom
        ¥
        =@karute.money
      
      .form__tittle
        メニュー＆薬剤情報
      .form__bottom
        -if @karute.menu == nil
          ー
        -else
          =@karute.menu

      .form__tittle
        その他備考
      .form__bottom
        -if @karute.memo2 == nil
          ー
        -else
          =@karute.memo2

      .form__bottom
        -if @karute.image4 == nil
          .form__bottom--img
            NO IMAGE
        -else 
          %img{src:@karute.image4,class:""}

      =link_to user_path(@karute.user_id),class:"" do
        .form__submit
          戻る

