.wrap-ind
  .index-top
    .index-content
      .index-content__header
        =link_to root_path, class:"header-left" do
          Salon
      .contents
        .contents__day
          = @karute.day
        .contents__memo
          -if @karute.category == nil
            .nil-content
            ご来店ありがとうございました。
          -else
            ご来店ありがとうございました。
            %li.second-text
              =@karute.memo1

        .contents__img
          -if @karute.image1 == nil
            .none
          -else 
            %img{src:@karute.image1,class:"contents__img--top"}
          -if @karute.image2 == nil
            .none
          -else 
            %img{src:@karute.image2,class:"contents__img--top"}
        =link_to root_path, class:"remove__bottom" do
          .remove
            一覧にもどる
    .footer
      .salon-name
        Salon Name
      %ul.contact
        %p
          CONTACT US
        %li.tel
          0123 - 456 - 789
        %li.mail
          beauty.hair@mail.com
        %li.address
          東京都港区芝公園1-1-1
    .copyright
      © salon