.wrap
  .header
    =link_to root_path,class:"header__tittle" do
      Hairsalon
    .l-drawer
      %input#drawerCheckbox.l-drawer__checkbox{type: "checkbox"}
      %label.l-drawer__icon{for: "drawerCheckbox"}
        %span.l-drawer__icon-parts
      %label.l-drawer__overlay{for: "drawerCheckbox"}
      %nav.l-drawer__menu
        %ul
          %li.l-drawer__item
            .ld-btn.mission-btn
              =link_to karute_hairs_path,class:"item-text" do
                カルテ一覧
          %li.l-drawer__item
            .ld-btn.service-btn
              =link_to new_user_path,class:"item-text" do
                お客様登録

  .content
    .content__top
      .content__top--num
        %span
          <
        %span
          1
        %span
          2
        %span
          3
        %span
          4
        %span
          5
        %span
          6
        %span
          7
        %span
          。。
        %span
          300
      .content__top--last
        件数：4589件(1〜20件)
    - @users.each do |user|
      .content__main
        .content__main--left
          【ユーザーID】
          =link_to user_path(user.id),method: :get,class:"" do
            = user.id
        .content__main--left
          【氏名】
          %span
            = user.name1
            = user.name2
        .content__main--left
          【最終来店日】
          %spa
            - @karutes = Hair.where(user_id: user.id).order(created_at: "desc")
          - if @karutes.length != 0
            =link_to edit_user_path(@karutes[0].id),class:"" do
              = @karutes[0].day