.edit-wrap{
  width: 60%;
  margin: 0 auto;
  background-color: rgba(221, 218, 218, 0.267);


  .edit-top{
    display: flex;
    width: 30%;
    margin: 0 auto 0;
    justify-content: space-between;
    padding: 2rem;



    &__left{
      height: 3rem;
      width: 50%;
      background-color: rgb(168, 5, 5);
      color: #fff;
      text-align: center;
      line-height: 3rem;
      cursor: pointer;


    }
    &__right{
      height: 3rem;
      width: 50%;
      background-color: rgb(0, 0, 0);
      color: rgb(238, 36, 36);
      text-align: center;
      line-height: 3rem;
      cursor: pointer;
    }
  }
  .edit-open{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;

    &__top{
      font-size: 1.4rem;
      color: #333;
      border-left: 0.7rem rgb(168, 5, 5) solid;
      padding-left: 0.5rem;
    }
    &__first{
      width: 80%;
      margin: 2rem auto;
      height: 7rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 3.5rem;
        background-color: rgb(168, 5, 5);
        text-align: center;
        line-height: 3.5rem;
        color: #fff;
      }

      &--bottom{
        text-align: center;
        line-height: 3.5rem;
        font-size: 1.2rem;
      }
    }
    &__second{
      width: 80%;
      margin: 2rem auto;
      height: 7rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 3.5rem;
        background-color: rgb(168, 5, 5);
        text-align: center;
        line-height: 3.5rem;
        color: #fff;
      }

      &--bottom{
        text-align: center;
        line-height: 3.5rem;
        font-size: 1.2rem;
      }
    }
    &__third{
      width: 60%;
      margin: 2rem auto;
      height: 23rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 21rem;
        width: 414px;
        background-color: rgb(224, 221, 221);
      }
      &--bottom{
        text-align: center;
        line-height: 2rem;
        color: rgb(25, 0, 255);
      }
    }
    &__for{
      width: 60%;
      margin: 2rem auto;
      height: 23rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 21rem;
        width: 414px;
        background-color: rgb(224, 221, 221);
      }
      &--bottom{
        text-align: center;
        line-height: 2rem;
        color: rgb(25, 0, 255);
      }
    }
    &__five{
      width: 60%;
      margin: 2rem auto;
      height: 23rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 21rem;
        width: 414px;
        background-color: rgb(224, 221, 221);
      }
      &--bottom{
        text-align: center;
        line-height: 2rem;
        color: rgb(25, 0, 255);
      }
    }
  }
  .edit-close{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;

    &__top{
      font-size: 1.4rem;
      color: #333;
      border-left: 0.7rem #333 solid;
      padding-left: 0.5rem;
    }
    &__first{
      width: 80%;
      margin: 2rem auto;
      height: 7rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 3.5rem;
        background-color: rgb(0, 0, 0);
        text-align: center;
        line-height: 3.5rem;
        color: #fff;
      }

      &--bottom{
        text-align: center;
        line-height: 3.5rem;
        font-size: 1.2rem;
      }
    }
    &__second{
      width: 80%;
      margin: 2rem auto;
      height: 7rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 3.5rem;
        background-color: rgb(0, 0, 0);
        text-align: center;
        line-height: 3.5rem;
        color: #fff;
      }

      &--bottom{
        text-align: center;
        line-height: 3.5rem;
        font-size: 1.2rem;
      }
    }
    &__third{
      width: 80%;
      margin: 2rem auto;
      height: 7rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 3.5rem;
        background-color: rgb(0, 0, 0);
        text-align: center;
        line-height: 3.5rem;
        color: #fff;
      }

      &--bottom{
        text-align: center;
        line-height: 3.5rem;
        font-size: 1.2rem;
      }
    }
    &__for{
      width: 60%;
      margin: 2rem auto;
      height: 23rem;
      border: solid 0.01rem rgba(151, 150, 150, 0.322);

      &--top{
        height: 21rem;
        width: 414px;
        background-color: rgb(224, 221, 221);
      }
      &--bottom{
        text-align: center;
        line-height: 2rem;
        color: rgb(25, 0, 255);
      }
    }
  }
}










.none{
  display: none;
}