.content{

  &__tittle2{
    width: 96%;
    margin: 20px auto;
    font-size: 23px;
    font-weight: 500;
    border-left: solid 10px #B62925;
    padding-left: 15px;
  }
  &__tittle3{
    width: 96%;
    margin: 20px auto;
    font-size: 23px;
    font-weight: 500;
    border-left: solid 10px #000;
    padding-left: 15px;
  }
}