
.form{
  width: 96%;
  margin: 0 auto;

  &__tittle{
    background-color: #000;
    color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;

  }
  &__bottom{
    height: auto;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    border: solid 0.5px #333;
    padding: 8px 15px;

    &--left{
      height: 20px;
      width: 100px;
      border: 0.5px #333 solid;
      margin-right: 15px;
    }
    &--right{
      height: 20px;
      width: 100px;
      border: 0.1px #333 solid;
    }
    &--tel{
      border: 0.1px #333 solid;
      height: 20px;
      width: 200px;
    }
    &--birthday{
      border: 0.1px #333 solid;
    }
    &--rash{
      border: 0.1px #333 solid;
      width: 300px;
      height: 20px;
    }
  }
  &__submit{
    background-color: black;
    color: #fff;
    text-align: center;
    width: 14rem;
    height: 30px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 3px;
    display: block;

  }
}


